*{
 margin: 0px;
padding: 0px;
box-sizing: border-box;
color: white;
}
.parent {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
background-color: rgb(161, 238, 142);

}

.menu  {
  display: flex;
background-color: rgb(79, 230, 99);
height: 80px;
}

.menu .home  {
 margin-left:  700px;


}


.menu a {
    padding: 5px;
    display: flex;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    /* margin-left: 50px; */
}

.fa-solid {
 color: rgb(16, 139, 32);
padding: 20px;
margin-left: 40px;
margin-bottom: 40px;

}

.logo-title {
margin-top: 20px;

}

a {
margin-left: 10px;

}

.main-content {
text-align: left;
margin-top: 200px;
padding: 20px;
/* line-height: 100px; */
/* margin-bottom: 30px; */
margin-left: 40px;
}


button {
    width: 160px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(17, 126, 17);
    text-decoration: none;
    margin-top: 20px;
    border: none;
    
}

.title {
font-size: 60px;
}

.subtitle {
margin-top: 20px;


}

.about-us {
  text-align: left;
  padding: 20px;
  margin-left: 40px;
  margin-top: 100px;

}

.about-title {
font
}


 .about-us-paragraph1 {

  margin-top: 25px;
  
   }
  
.about-us-paragraph2 {
  margin-top: 25px;
}

hr {
margin-top: 90px;
border: 1px solid white; 

}

.html-logo  {
width: 188px;
height: 255px;
margin-top: 50px;
margin-left: 120px;
}
.css-logo  {
  width: 425px;
  height: 255px;
  margin-top: 50px;
  }
  
  .javascript-logo  {
    width: 425px;
    height: 255px;
    margin-top: 50px;
    }


    .courses .img {
     display: flex;


    } 

  .courses {
  text-align: left;
  padding: 20px;
  margin-left: 40px;
  margin-top: 100px;
  }

.

