* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.parent {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(161, 238, 142);
}

/* Header */
.menu {
  display: flex;
  background-color: rgb(79, 230, 99);
  height: 80px;
}

.menu .home {
  margin-left: 700px;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  margin-top: 25px;
  color: white;
  margin-left: 60px;
}

.fa-solid {
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.logo-title {
  margin-top: 20px;
  color: white;
}

/* School slogan and Join button */
.main-content {
  text-align: left;
  margin-top: 120px;
  padding: 20px;
  margin-left: 40px;
  color: white;
}

button {
  width: 160px;
  padding: 15px;
  border-radius: 1px;
  background-color: rgb(17, 126, 17);
  text-decoration: none;
  margin-top: 20px;
  border: none;
  color: white;
}

.title {
  font-size: 60px;

}

.subtitle
.subtitle-2 {
  font-size: 20px;
  margin-top: 20px;
}

/* About us */
.about-us {
  text-align: left;
  padding: 20px;
  margin-left: 40px;
  margin-top: 70px;
  color: white;
  font-size: 20px;
}

.about-us-paragraph2
.about-us-paragraph1
 {
  margin-top: 25px;
  padding: 0 20px 0 0 0 ;
}

hr {
  margin-top: 90px;
  border: 1px solid white;
}

/* Courses section */
.html-logo {
  width: 188px;
  height: 255px;
  margin-top: 50px;
  margin-left: 120px;
}

.css-logo {
  width: 425px;
  height: 255px;
  margin-top: 50px;
}

.javascript-logo {
  width: 425px;
  height: 255px;
  margin-top: 50px;
}

.courses {
  text-align: left;
  padding: 20px;
  margin-left: 40px;
  margin-top: 70px;
  color: white;
  font-size: 20px;
}

.course-details {
  display: flex;
}

/* Contact Us section */
.contact-us-heading {
  color: white;
  margin-left: 60px;
  margin-top: 70px;
}

.contact-us {
  display: flex;
  position: relative;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0 67px 0 67px;
}

.contact-title {
  color: white;
  font-size: 40px;
  margin-left: 70px;
  margin-top: 70px;
  font-size: 20px;
}

/* Forms Section */
.form-fields {
  margin-top: 40px;
  padding: 30px;
  width: 360px;
  height: 440px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid green;
}

.submit-form-button {
  margin-left: 6px;
  width: 160px;
  margin-bottom: 220px;
}

.message
.email
.phone-number
.last-name {
  margin-top: 20px;
}

input {
  padding: 7px;
}

/* Footer section */
footer {
  color: white;
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

footer a {
  color: white;
  text-align: center;
}

.social-favicons {
  margin-bottom: 20px;
}

.terms-and-conditions {
  margin-right: 5px;
}

.privacy-policy {
  margin-left: 5px;
}

.ownership {
  margin-top: 20px;
}

.first-line {
  margin-bottom: 20px;
}